<div class="panel panel-default thanks">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
   <div class="form-group">
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
</div>
  </div><!-- / panel-body -->
</div><!-- / panel -->